.header {
  padding: 0.75rem;
  overflow: hidden;
}

.logo {
  display: flex;
  align-items: center;
  overflow: hidden;

  svg {
    width: 100%;
    max-width: 9rem;
    height: auto;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

